body{
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: 1em;
	color: black;
}

p{
	padding: 1px;
}
a{
	color: red;
}
img{
	cursor: pointer;
	-webkit-transition-property: all;
  	-webkit-transition-duration: 1s;
}
a:hover{
	color: blue;
}

.flipped{
	-webkit-transform: rotate(360deg);
	-webkit-transform: rotate3d(1,1,1,180deg);
}

.flip_back{
	-webkit-transform: rotate(-360deg);
	-webkit-transform: rotate3d(1,1,1,360deg);
}
